img {
    width: 256px;
    height: 340px;
}
button {
    width: 150px;
}
.user-details-container {
    height: 856px;
}
.user-details-fields-container {
    padding: 2rem 0 2rem 0;
}
::deep .user-details-fields-container input {
    width: 250px;
}